<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <link href="{% static 'home/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>


  <header id="header" class="fixed-top">
      <nav id="navbar" class="navbar">
        <h1 >Rubber Industry</h1>
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/company_login/">Company Manager</a></li>
          <li><a class="nav-link scrollto" href="/vendor_login/">Vendor</a></li>
          <li><a class="nav-link scrollto " href="/process_login/">Process Unit</a></li>
          <li><a class="nav-link scrollto" href="/admin_login/">Admin</a></li>

        </ul>

      </nav>

  </header>

  <section >
    
        <img src='/static/home/assets/img/slide/slide-1.jpg' alt="">
        
  </section>


  

</body>

</html>