<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% extends 'process/process_base.html' %}
{% block content %}
{% load static %}
<head>
<title>Medical Appointment Form a Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Appointment Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
	<style>
		p, h1, h2 {
			color: white;
		}
	</style>
<!--//fonts-->
</head>
<body>
<style>


.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
</style>
<script>
{% for m in messages %}
      alert('{{ m }}');
{% endfor %}
   </script>
<!--background-->
<h1>Upload Rubber details</h1>
    <div class="bg-agile" style="margin-left:450px;">
	<div class="book-appointment">

			<form action="/testing_analyse_form/" method="post">
				{% csrf_token %}


			<div class="left-agileits-w3layouts same">
				<div class="gaps">
				<p>Property</p>
					<select class="form-control" name="property" style="width:320px;">
						<option></option>
						<option value="soft">soft</option>
						<option value="oil resistance">oil resistance</option>
						<option value="heat aging">heat aging</option>
						<option value="weather resistance">weather resistance</option>
						<option value="water soluble">water soluble</option>
						<option value="aging weather">aging weather</option>

					</select>
			</div>

			<div class="left-agileits-w3layouts same">
				<div class="gaps">
				<p>recycle</p>
					<select class="form-control" name="recycle" style="width:320px;">
						<option></option>
						<option value="yes">yes</option>
						<option value="no">no</option>


					</select>
			</div>
				<div class="left-agileits-w3layouts same">
				<div class="gaps">
				<p>compound</p>
					<select class="form-control" name="compound" style="width:320px;">
						<option></option>
						<option value="hydrophobic">hydrophobic</option>
						<option value="chloroprene">chloroprene</option>
						<option value="liquid hydrocarbon">liquid hydrocarbon</option>
						<option value="ethylene and propylene">ethylene and propylene</option>

					</select>
			</div>



				<div class="gaps">
				<p>Chemical Formula</p>
					<select class="form-control" name="chemical_formula" style="width:320px;">
						<option></option>
						<option value="CN">CN</option>
						<option value="siloxane">siloxane</option>
						<option value="isoprene">isoprene</option>
						<option value="(C5H8)n">(C5H8)n</option>

					</select>
			</div>



			<div class="gaps">
				<p>mixing</p>
					<select class="form-control" name="mixing" style="width:320px;">
						<option></option>
						<option value="base gums">base gums</option>
						<option value="carbon">carbon</option>
						<option value="vinylidene fluoride">vinylidene fluoride</option>
					</select>
			</div>


				<div class="gaps">
				<p>made_from</p>
					<select class="form-control" name="made_from_type" style="width:320px;">
						<option></option>
						<option value="petroleum">petroleum</option>
						<option value="oil resistant">oil resistant</option>
						<option value="quartz sand">quartz sand</option>
						<option value="actylene">actylene</option>
					</select>
			</div>

			<div class="gaps">
				<p>Type</p>
					<select class="form-control" name="type" style="width:320px;">
						<option></option>
						<option value="syn">Synthetic</option>
						<option value="syn/nat">Synthetic/Natural</option>

					</select>
			</div>


        <div class="gaps">
				<p>Polymer</p>
					<select class="form-control" name="polymer" style="width:320px;">
						<option></option>
						<option value="elastomeric">Elastomeric</option>
						<option value="polysiloxane">Polysiloxane</option>
						<option value="polychloroprene">Polychloroprene</option>
						<option value="silicone">Silicone</option>

					</select>
	    </div>





			</div><br><br>
			<div class="clear"></div>
				<button  class="button-33" >Upload synthetic details</button>
<!--						  <input type="submit" value="Upload synthetic details"  style="margin-top:20px;">-->
		</form>
		</div>
   </div>
   <!--copyright-->
<!--			<div class="copy w3ls">-->
<!--		       <p>&copy; 2017. Medical Appointment Form . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>-->
<!--	        </div>-->
		<!--//copyright-->
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/wickedpicker.js"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>
		<!-- Calendar -->
				<link rel="stylesheet" href="css/jquery-ui.css" />
				<script src="js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

</body>
</html>
{% endblock %}