<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <title>Document</title>
</head>
<body style="background-image: url('/static/login/login.jpg');">
<script>
{% for m in messages %}
      alert('{{ m }}');
{% endfor %}
</script>
<style>

.button-77{
 margin-top:50px;
 color:orangered;
 padding:5px 10px;
 border: 2px solid black;
 border-radius:10px;
 background:aqua;
 height:40px;
 width:80px;
}
.button-77 a{
margin-top:-10px;
color:orangered;
}

</style>
<h1 style="color:#674747; margin-left: 500px; margin-top: 25px;">admin login</h1>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>

			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>



		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
				<form action="/admin_login/" method="post">
				{% csrf_token %}
				<input type="text" name="email" style="margin:5px; margin-top: 40px; margin-bottom:15px; padding:5px;" placeholder="Email">
				<input type="password" name="password" style="margin:5px; margin-bottom:15px; padding:5px;" placeholder="Password">

					<button class="button-77">Login</button>
					<button class="button-77" style="position:absolute; right:70px;">
				<a href="/">Home</a>
						</button>
			    </form>
			</div>

		</div>
	</div>
 <script src="{% static 'login/script.js' %}"></script>
</body>
</html>
